body{
    margin: 0;
    font-family: poppins;
}

/*------------------
Header Styles 
-------------------*/
.header{
    background-color: #06040F;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 42px 156px 60px 156px;

}
.menu ul{
    float: left;
}
.menu li{
    float: left;
    padding-left: 30px;
}
.menu li a{
    color: #f1f1f1;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.Header-details{
    padding-right: 636px;
    padding-left: 156px;
}
.Header-title{
    color: #ffff;
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 10px;
}
.Header-des{
    color: #ffff;
    font-size: 18px;
    font-weight: 400px;
}
.header-slide-arrow{
    float: right;
    padding-right: 156px;
    gap: 30px;
}
/* Grid Blogs */
.blogs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding 37px;
    gap: 24px;
    margin: 80px 156px 0 156px;
    padding-bottom: 20px;
   }
.angle-arrow{
    background-color:black;
    color: #ffff;
    padding:10px 15px;
    border-radius:100%;
    margin-left: 30px;
}
.grid-blog-01{
    background-image:  linear-gradient(180deg, rgba(242, 0, 116, 0) 40%, #F20074 100.94%), url('../images/Blogs-1/Blog-1.png');
    background-repeat: no-repeat;
    background-size:width: 264px;
    height: 335px;
    border-radius: 10px;
}
.grid-blog-02{
    background-image:  linear-gradient(180deg, rgba(242, 0, 116, 0) 40%, #F20074 100.94%), url('../images/Blogs-1/Blog-2.png');
    background-repeat: no-repeat;
    background-size:width: 264px;
    height: 335px;
    border-radius: 10px;
}
.grid-blog-03{
    background-image:  linear-gradient(180deg, rgba(242, 0, 116, 0) 40%, #F20074 100.94%), url('../images/Blogs-1/Blog-3.png');
    background-repeat: no-repeat;
    background-size:width: 264px;
    height: 335px;
    border-radius: 10px;
}
.grid-blog-04{
    background-image:  linear-gradient(180deg, rgba(242, 0, 116, 0) 40%, #F20074 100.94%), url('../images/Blogs-1/Blog-4.png');
    background-repeat: no-repeat;
    background-size:width: 264px;
    height: 335px;
    border-radius: 10px;
}
.author-01 p{
    color: #fff;
}
.author-01{
    padding: 23px 15px 150px;
    display: flex;
    gap: 8px;
    align-items: center;
}
.grid-blog-title{
    font-weight: 700;
    font-size: 14px;
    color: #ffff;
    padding: 0 16px;
}
.grid-blog-info{
    display: flex;
    align-items: center;
    gap: 120px;
    margin-top: -20px;
    padding: 0 16px;
}
.grid-blog-date p{
    color: #fff;
    font-weight: 400;
    font-size: 12px;
}
.go{
    color: #fff;
}
.slider-icon {
    padding-bottom: 100px;
    display: flex;
    justify-content: end;
    padding-right: 156px;
}
/* Header Responsive Mobile */
@media screen and (max-width:576px) {
    .nav{
        padding: 10px;
        align-items: center;
    }
    .logo img {
        width: 80%;
    }
    .menu li {
        padding-left: 10px;
    }   
    .Header-details {
        padding: 20px;
    }
    .header-slide-arrow {
        padding-right: 31px;
 }
 .blogs{
    grid-template-columns: repeat(1, 1fr);
    margin: 80px;
    margin-bottom: 0;
 }
 .author-01, .author-02, .author-03, .author-04 {
    padding: 23px 15px 140px;
 }
 .grid-blog-info{
    gap: 60px;
 }
 .grid-blog-01, .grid-blog-02, .grid-blog-03{
    display: none;
 }


}

/* Header Responsive Tab */
@media screen and (min-width:577px) and (max-width:992px) {
    .nav{
        padding: 40px;
        align-items: center;
    }
    .Header-details {
        padding-right: 135px;
        padding-left: 40px;
    }
    .blogs{
        grid-template-columns: repeat(2, 1fr);
        margin: 80px;
        margin-bottom: 0;
    }
    .grid-blog-info{
        gap: 46px;
    }
    .grid-blog-04, .grid-blog-03{
        display: none;
     }
     .slider-icon{
        padding-right: 90px;
     }
     .header-slide-arrow{
        padding-right: 80px;
     }
}